@model ClothApp.Models.ClothCreateViewModel

@{
    ViewBag.Title = "Edit " + Model.Form.Name;
}

<h2>@ViewBag.Title</h2>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.Form.Id)

        <div class="form-group">
            @Html.LabelFor(m => m.Form.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Form.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Form.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Form.BrandId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Form.BrandId, Model.Brands, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Form.BrandId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Form.ClothTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Form.ClothTypeId, Model.ClothTypes, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Form.ClothTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<hr />

@using (Html.BeginForm("UploadPicture", "Cloth", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="form-horizontal" style="margin-top: 10px;">

    @Html.HiddenFor(m => m.UploadPictureForm.ClothId)
    <div class="form-group">
        <label class="control-label col-md-2">Add pictures</label>
        <div class="input-group col-md-10">
            <label class="input-group-btn">
                <span class="btn btn-default">
                    Browse...<input type="file" name="uploadImages" style="display: none;" multiple />
                </span>
            </label>
            <input type="text" class="form-control" readonly>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Upload" class="btn btn-default" />
        </div>
    </div>
</div>
}

@if (Model.Form.Pictures.Count > 0)
{
<hr />

<div class="form-horizontal">
    @foreach (var pic in Model.Form.Pictures)
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div style="max-width: 500px; margin-bottom: 10px;">
                    <img class="img-responsive" src="data:image/jpeg;base64,@Convert.ToBase64String(pic.Image)" />
                </div>
            </div>
        </div>
    }
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/inputfile.js")"></script>
}